body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-exo: Exo;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-darkred-100: rgba(134, 0, 0, 0.5);

  /* Paddings */
  --padding-11xs: 2px;
  --padding-3xs: 10px;
}
