body {
	margin: 0px;
	padding: 0px;
	color: #666666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #010206;	
}

a, a:link, a:visited { color: #999999; text-decoration: underline; }
a:hover { color: #00CCFF; text-decoration: none; }

p { margin: 0 0 10px 0; padding: 0; font-style: italic; font-weight: bold; font-size: 15px; color: #FFFFFF;}
img { border: none; }
img.icon{ margin-left: 250px;}

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal }
h1 { font-size: 34px; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 24px; margin: 0 0 30px 0; padding: 0; }
h3 { font-size: 21px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0; color: #d82b82; }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.clear { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 3px solid #35373b; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 30px 0 0 }
.image_fr { float: right; margin: 3px 0 0 30px }

blockquote { font-style: italic; margin-left: 10px}
cite { font-weight: bold; color:#ccc }
cite span { color: #ccc }
em { color: #fff; font-weight: 400 }

.atv_prat_list { margin: 0 0 0 20px; padding: 0; list-style: none }
.atv_prat_list li { color: #666666; margin:0 0 5px; padding: 3px 0 3px 15px; background: url(https://lh3.googleusercontent.com/XYeoMUYbxfzbVwcEN9V8vSE_dIgZWUSOcKF9bGt9XZVhfMs8Vn6bN8qelfsXz8jeZe3q7z1YWyPOv09qtZIDCAL8EFhAJWJfXhWtH_BdGvM92CTDs9NZrx3_5vBqPhBjR0bp8rqWlSCcLoPHW4UeQYwRlSB6C82cr71mA7XfI_Wi_LJnIFVR45sw-j7iK7KUvkRHlHbDf9ATS1rKfxuMd2qm-3Tu6zaB819S_UhgVaAdkDq2RJHunLQv41Th1qF2WjwaHybRLdQh5DFD_m4Nx2YMwCZszzXBm-_JTcTbF2Beb9Meh2GxGsMEM5ndfIB_jxlQP99BWnaWdcg8enk_lcGET7dutCFkE7tTxnc-DxGZcj0TaVMfL-gzp0YqFac2xJPZcb71sq0JtjVELBeo_0N_b3xGc-nG1OFKBxN-MJBZ0ohKemDLSTa60k4CFiX9uTuO4J90BpjZidhoEAO6L7PBhvyTTsyVkFwCSUdNasxiXDhiDhER2vAHcjhIxvMGIgXe0_m0GEa4ApWP2W9D5A7Zver0NXZD9g7nsny1YcMWZvmF19xu1WdZIn6eXSH2ra2YlBt4lGiR7C2X-zkl_w5-mtJ6aPDFDfE25B13NJzD5yW5PoHyqqrNNc3d0P-vQaax8PTiG7eyddfOJLMBXTIr2JUA_VcDHfKNUZSB9Lrg_EiF66RLT9uen-vHBBz_xAC8Hk6m2d4Fu4zdcnQWDUsocTgqyriEcRrroz-YcKVYdPcu_XpbN-Vq-ZPqYB5NWTfyB4AIA3FcahB7Yuhl-QttHN4Id7CWYpus2XyIvZcBQ6DnhdVNVXbEz47AqMlKJg34gqS821uYBphCO7byedU0MLwmFg60E1l7ZOdsSSKcIiGh8yKtkrrvngt7KXFWuawOgjAqdMjqN8D26Zv6M1VIcgMb9pREs9ZjRyVluw5aW85U-Na15fld62HeSrc3_fLb4f06OrWtBxRpokbtr-uMVGxvSWnhlVSRS-BJtoMcg0Xm0zcLGN8vX5flsz7ZXXP-iuhQED4OH7cO3NNgKf9DS459=s5-no?authuser=0) no-repeat scroll 0 10px }
.atv_prat_list li a { color: #666666; text-decoration: underline }
.atv_prat_list li a:hover { color: #00CCFF; }

#atv_prat_wrapper { width: 1020px; margin: 0 auto }

#atv_prat_header { width: 960px; padding: 0 30px; height: 369px; background-image: url(https://lh3.googleusercontent.com/T2-5_vR7bUy0DUqFf5dr8yfwtXsNWlGsZq58JZBtReFzWJ2nS5MT1PUDXxd2ZLRBn3QxdyWH2yeTUbPdDjZVU2-lxyf81vX-ypHQqsAJ9iPIn6GT4EjZSljBalc5z6bpKw7E1qpWNKpDECJ4yU5hYRRSmrufdiJxWFJvNY--Tw1mZEPvOej8MtbUA-IuM9JujrMY_Dk4XaBczOP2tIKb0IjbVwKUNDOVf9ImyyxnB8R08iUzQLQFRo8Q-9fCs_JboKeAHU8sc4fPlLNqPz1pfAeeWUKOKNXbPegbqsyyMGqfW9Vfu9sMkbUpyBWtrI4l4VlXMFvp66i4kee3TGejfo0tnLMYWH1RdjqGr7yqmWT6pVbQTPhTbCYk1j21VbaeNalW_ekjmyR3JA0YP0Z71ZxkYI0SKDZPYyDaXiAscmB_OLGtTHbyjF9_UXC982vq46QJqIi7oa04-EsaKweu94AbVE6hrf9rxU_WZHXnJA0JPLxcug_szgYX4Q4oQTG07uiFBgw50FpZZl-NxCDK5G6788Hcc3yiP5qOCZMtpLlWa3vT34ekUGP7jKK5TYCO6Zu2q5tGxSq5ErL8Ag-AFft7627CVwrZ4HNjwCgjqvvTY2nhiZUg4nU0XYo83QipdMniBmSpDsjXXZ-JOtqI9mdy_r7urW2npRlOTXR_csyjD5wqH8HTcKZDKRjdbERXdvvzlXZBEew7UWmWNYDSSz2_fGyBc9-3SdKx4bEZQEfBSL8UVpZxjEbEk6Rg2YVhiDKyLuTpjArqVL3si0_syawdNFT5SWZQTzijNvQUn-k4Q_mZnNLeSlPbtVjfOPvwYYLt6fi36WwGQ8NDdQqompcWW1Jy6AREwpGJqTZIsfATxApDMU7rI8iZ3w930G7M4vxyXwEKsMP6ZueF1Fvhjyf-Y6lElCfwqbs1YjV7o8HeMz7X52W-Hk_PFvVt1JmhCAE1fNOzsjfwSbw8UdonHZfbQx4hAIMEbihOmnGOk8-zZNYoudHAW3OdKLKi7K2KTThiKUae03oWp_ZEqq2T-JpFhsiX=w1608-h993-no?authuser=0); background-size: cover;}



/* menu */

#atv_prat_menu {
	width: 960px;
	height: 53px;
	padding: 0 25px;
	margin-bottom: 30px;
    background: url(https://lh3.googleusercontent.com/PA8cZMIGRJVXLxoJVxNO6dB8byB8Wa8XY8bmIzjBFTAYkbpFjTfITIaVuDqP4_NSUdVjAhrxXzYAL_v9N9YMeG102NyrQx6JdpxMeza9cJyqi8HUerA7ODSsDlN3QzE44FLmSvIyHK_hXLQIXEP7liwE40VuqyNJ5In7yoTJm7j4RqiYks4G1BPgv6bdnBZoqZr2JFhn1aBE39-MWMZS-N5u0eW9IdSalnp-83Wk9zmdUBTEybIV5bdu6T5z7beINsrg7IBvPnkt_V-oXWAQpxC2mKQql2yLXYyaU5BxKEfhadzmBp_nRveQe4NWwdiJDUvNmcovDwVwR2MFb3UDczysbL7OjsPv3VNWKu0xeqSvlUALsVpt9U5se5DcwSXLXchi2TzTGWz1mRaL1jg1yvnYcMk0oGyUwMPat9M4H-jsGkQSZ3zcqWjtqVmPMLbi8ZSFFiicVa02quUZcLbv5JmKFnvowLfOGyuS3IQTIgJDiOaHCcurzrYL2jWC2lP9KAHJp5ABDzOO3B7NNRdfSKJNBjuEjBAHRPdQ_qTkpD2AwAWY_ueDmgHTdwurbd9KMkwxenbmBJKL27uIoh-WZQOZysqi6mAlWD2ttf1SaRflGiNtOZXWZLlSRbTYhh4UjtJyjMKIbRjttWrCcLlwE4Ab2q5soWCjsje3YMmuFx74ehLeciff7k0fKdGFdI-Cr3xhPtT5CiQCu2Je1k4ZO2idw6FZu43ybr09bJHhnwU58PuKYT-3E0P_mqF52F3k1xSFj6yKbvMmus3YRuDRihXC6OPuzTSS2HkrfixfpLh7-v5k4W31mfwyVauD4b-6ePYufeAf6hNDbxYlFDhg09erJfNavTXH0iK_TqXZo0D0qZYs4usKT1qgasZOHb4ysXJOViiazWei_r-u5IiQ7vdUq7W3W5kvfvx1juYmNeGhWTCm9Jj2Ui0ETQ2xCA1620ad8FKhEUBi9c5nxj-x2tpLAgo9AmkEpgDtO8DZAtY_LDEPW_f6Cpio7c_UEXeI4HZhzruzl2yqZyKSu7U45jDn-vc8=w1020-h53-no?authuser=0) no-repeat;
}

#atv_prat_menu ul {
	height: 52px;
	margin: 0;
	padding: 1px 0 0 0;
	list-style: none;
}

#atv_prat_menu ul li {
	padding: 0;
	margin: 0;
	display: block;
}

#atv_prat_menu ul li a {
	float: left;
	display: block;
	height: 37px;
	padding: 15px 52px 0 50px;
	font-size: 16px;
	color: #FFFFFF;	
	text-align: center;
	text-decoration: none;
	background: url(https://lh3.googleusercontent.com/qRNaW04240_wkdDbfn-S7TCwb8jO-qnsMP39bJFO2FcwSy_drvQ9CoZ84PnLF798SY1non4FCJfpJZfabeanQB6MSk2so0K16JuWKjb21ZoBjsue0YCrri3pcWK-GAC6g1HxgzaXLuZOHjpWOvI3WJdOJGjTPpMEciOWZSQjVgNOv-Y2M7Uy6rbGu8vJSeCfNxZdgCMksxvCQ-dFlMtyAfdZUL_76--fTXacKDmH3kDKU2WoW7xB1gbBQPMYirZlL0omOYxvdPc1ddHj_Is-nIl3M12Ry0Ad8tEvG4kjp7axBzFh8hYdMHgjWCyAkuqhlVKToI5Yus_I58TOJEsuH2rssG8nesmUZXIsT1tjuqnCeRpI17MDPNCUYLUZBWC2xgSC4W51K5UEpxfYXsnJvMhCndBzpuPm4vzG7bpgT9sWlgl_9dQyCfGz3GNo836zjCBrCr-88j7krjqsN6a3QmZ2p9r1ROc6L4XkNXOJVRHtZZls4PxYDgpdpvdfT_aKtmyGO1MVjNEJ2Rgj8u_m-Pojs8CfTVO_vy2K4urxlT5Ebqg_mDgGj1tt9hHnscncT2g_gCTdXl33JgeqEIQykqiu1R6bFs9fomZ5AgtyL-F8fmDWKzPFzFToT7nJ1pbQW31BGB7sNigU7_ER4Gwxc95ncj0SQNSZbu8btyYnd4BiElpujW2fAJ_25oamezSyS-OaduLpAEPylRnPdqDzyIze0MDfHhuuFlGcwfaHSbDia1YDHD1AL7kC-g2k9zBNFBo6XHu_0CPcvqheMZkC5sahrKudo31mnUKl1CBcEoPGaS_GQfLhksY1Ja5QPn-fXBdchpAi-oFu6MVlhUCoSBgyvHTMS2P6VBEaL3XN8-8Zu_qx1QzWQq2IhsuEn9yJ5M-JYNsnmk1_FbQ8WQH_JXHM8G50PhKZUKz6G4prxdLTRBt3reDj5T_vqDMZaC9W0-Q32TiVQ5ORoqrayfyJWYEBSNdWJeFN-N9ZWwyUpZn7TyyGCdKrcshQeuhXiNFd5YxMx1OYE7KhIsypH7j8VJFMWSw1=w2-h50-no?authuser=0) center right no-repeat;
}

#atv_prat_menu ul li a:hover, #atv_prat_menu ul .current {
	color: #0eb0ff;
}

#atv_prat_menu ul .last { background: none; padding-right: 52px }
/* end of menu */

#atv_prat_main {
	width: 960px;
	padding: 30px;
}

#atv_prat_content {
	float: left;
	width: 560px	
}

.content_box { clear: both; margin-bottom: 60px }
.col_w250 { width: 250px }
.last_box { margin: 0 }

#atv_prat_footer {
	clear: both;
	width: 960px;
	padding: 70px 30px 20px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: url(https://lh3.googleusercontent.com/k03jxt4hvFIPGURTVo-OYpSgJwFzrxaL2qwH8zQwH0DWfK0QzBuN5oFd3YJaFhynqgFqLUacidgINuikqF1dv22eUkXYuflE_U5ePt_Oxf7w-rKkFD1zimi-mzmtlAGg57carv7yN52M1ZWLxlACsCpgI3RWxc8jni3cdEMwpQC_rW-LPLg6UrXP9xDCud0Ms4Qa7XLp2COnv3fOLRz7EG58w48FcynC4OArK_qcIkpamJbeHGb_mOuFo1UGT2kQAS_KJjvEAsREZWH6G02GUyH4x8rRYlya4TEUv71sPYBEP6zElV21ME9aIr4q71gb5KimhILjCDQaFR6xZlAJBhSLlU7JzLK75nmxdlSI7RJdIVXVdLiFLymJ3NEjJDg8L_S1-uNy4KqX4OE-orI1CkmysahrQB-w_tCk70rn7NLEIS5NaplQ2Woq8W6q0kBebsw9jyyS7XD9KEDK8My2uCrLAQO5Hp03eYf-E-O_EiZ5deR9L3t_7qeDHm-s9oOmay26l4ON7lFg0wgFhU0zUyII8O0fD6aIOYLYkxdSK0BcVrxmPH20qGbB38jsJTtweI5nSKpqzOPVxQL_WLUnVl1gfbl0ajDT12TxAeu83gEizUR0aLcDTacyC3-XGpo2Xfq3S9pllYTI70KiAbj8up99Uhjzn98p6BdAmWKm5frZyzTDASr6jXYs_NC5ZVwI8TGOCEkprIOAWmRamOeYYh3fFOd58LkDqoVwgtbm6YJ_a_9yDPSdCDTzQG1JuMIVUomPiWYAQJGP_XpNIzpxDDWMTin1oR-mTCgZ3wNniCGXBzR9hluFkBXPTQKCF61a7fBe0sKakHvTfoh3ln18fDVlkKpBW9Y0WHe2tLBDuiJ2Xw4ncQb0xrIRmPWT2WNjmaBdOOYL6G8hyu0VECQyc7E4gdDN27-ODdqVlL4Ts6qjdmUn1AM-4OqKHzPQ-XCdwLhcVX3Y38XFR2GD6vvUF8L70r6tAc2KaQNZhGoAon_8h_H4MP_o2IKzfLxgVTpC-TifVNLnD_1rSHlbmtXfUVmvETGr=w1020-h110-no?authuser=0) bottom center no-repeat;
}

#atv_prat_footer a { color: #fff; }